<section class="tracks-wrapper">
  <div class="container">

    <div class="row">

      <div class="col-sm-8 col-xs-12">
        <div class="track">
          <h2>track name</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</p>
          <a href="#" class="btn btn-success" routerLink="/track-profile">enroll now</a>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">

        <div class="side-tracks">

          <div class="side-track">
            <div class="row">
              <div class="col-sm-6">
                <div class="left-color"></div>
              </div>
              <div class="col-sm-6">
                <h2>track name</h2>
              <a href="#" class="btn btn-default">enroll now</a>
              </div>
            </div>
          </div>
          
          <div class="side-track">
              <div class="row">
                <div class="col-sm-6">
                  <div class="left-color"></div>
                </div>
                <div class="col-sm-6">
                  <h2>track name</h2>
                <a href="#" class="btn btn-default">enroll now</a>
                </div>
              </div>
            </div>

            <div class="side-track">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="left-color"></div>
                  </div>
                  <div class="col-sm-6">
                    <h2>track name</h2>
                  <a href="#" class="btn btn-default">enroll now</a>
                  </div>
                </div>
              </div>

        </div>

      </div>

    </div>

  </div>
</section>