<section class="fields-wrapper">
    <div class="container">
  
      <app-dashboard></app-dashboard>
  
      <div id="main">
        <h1 class="sec-title text-center">
          all fields
        </h1>
  
        <div *ngIf="fields?.length>0 ; else elseBlock">
          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">field id</th>
                <th scope="col">field name</th>
                <th scope="col">description</th>
                <th scope="col">actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let field of fields">
                <td>{{field.id}}</td>
                <td>{{field.name}}</td>
                <td>{{field.description}}</td>
                <td>
                  <a [routerLink]="[]" class="btn btn-info">
                    <i class="fa fa-pencil"></i> Edit
                  </a>
                  <button href="#" (click)="delete(field.id)" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <ng-template #elseBlock>
          <h2 class="text-info">No fields Yet</h2>
        </ng-template>
  
      </div>
    </div>
  </section>
  