@import './variables';
@import './mixins';
@import './placeholders';
@import '~bootstrap/scss/functions',
'~bootstrap/scss/variables',
'~bootstrap/scss/mixins',
'~bootstrap/scss/print',
'~bootstrap/scss/reboot',
'~bootstrap/scss/type';
body {
  background: $color-section-grey;
}

a {
  text-decoration: none !important;
  &:focus {
    outline: 0;
  }
}

.btn,
.btn-default,
.btn-link,
.btn-success,
.btn-primary,
.btn-info {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

select, option {
  &:focus {
    outline: 0 !important;
    border: none !important;
  }
}
