$color-accent:#82ddf1;
$color-dark-grey:#333;
$color-bg-grey:#9E9E9E;
$color-section-grey:#ccc;

$color-text: $color-dark-grey;

$color-text-link: $color-dark-grey;
$color-text-link-hover: $color-accent;