<div class="edit-user">

  <div class="header">
    <h2>edit your info</h2>
  </div>

  <div class="info-wrapper">
    <div class="info">

      <form class="form" #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="name">user name:</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="userName" #name="ngModel" id="name" required>
          <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
            <p class="alert alert-danger" *ngIf="name.errors.required">user name is required</p>
          </div>
        </div>

        <!-- <div class="form-group">
          <label for="email">user email:</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="userEmail" #email="ngModel" id="email" required>
          <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
            <p class="alert alert-danger" *ngIf="email.errors.required">user email is required</p>
          </div>
        </div> -->

        <div class="form-group">
          <label for="img">image link:</label>
          <input type="text" class="form-control" name="img" [(ngModel)]="userImg" #img="ngModel" id="img" placeholder="ex. https://drive.google.com/profile"
          >
          <div class="form-control-feedback" *ngIf="img.errors && (img.dirty || img.touched)">
            <p class="alert alert-danger" *ngIf="img.errors.required">user image is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="cover">cover link:</label>
          <input type="text" class="form-control" name="cover" [(ngModel)]="userCover" #cover="ngModel" id="cover" placeholder="ex. https://drive.google.com/profile"
          >
          <div class="form-control-feedback" *ngIf="cover.errors && (cover.dirty || cover.touched)">
            <p class="alert alert-danger" *ngIf="cover.errors.required">user image is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="bio">your bio:</label>
          <textarea class="form-control" name="bio" [(ngModel)]="userBios" #bio="ngModel" id="bio" cols="30" rows="5" required></textarea>
          <div class="form-control-feedback" *ngIf="bio.errors && (bio.dirty || bio.touched)">
            <p class="alert alert-danger" *ngIf="bio.errors.required">bio is required</p>
          </div>
        </div>

        <button class="btn btn-primary" [disabled]="form.invalid">update</button>
      </form>

    </div>
  </div>
</div>
