<section class="dashboard-wrapper">
    <div class="container">
  
      <div class="row">
  
        <div class="col-sm-8 col-xs-12">
          <div class="track">
            <h2>track name</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
              a type</p>
          </div>
        </div>
  
        <div class="col-sm-4">
          <div class="info-wrapper">
            <div class="info">
              <h5>prerequisite</h5>
              <h3>no experince required</h3>
              <span>see detailed requirements</span>
            </div>
  
            <div class="info">
              <h5>time</h5>
              <h3>4 months</h3>
              <span>study 10 hrs/week and complete in 3 mo.</span>
            </div>
  
            <div class="info">
              <h5>number of courses</h5>
              <h3>5</h3>
              <span>see detailed information</span>
            </div>
  
            <div class="info">
              <h5>base salary</h5>
              <h3>$38.7k to $212k</h3>
              <span>powered by paysa</span>
            </div>
          </div>
        </div>
      </div>
  
      <a href="#" class="btn btn-primary">start now</a>
  
    </div>
  </section>
  