@import '../../../../sass/variables';
@import '../../../../sass/mixins';
@import '../../../../sass/placeholders';

.signup-wrapper {
    margin-top: 85px;
    margin-bottom: 38px;
    h2 {
        @include font-YanoneKaffeesatz(false, $color-dark-grey, false, capitalize, 0.4px, false);
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .signup {
        @include section-styles(#fff, null, 46px, 23px);
        border: 1px solid #000;
        border-radius: 10px;
        padding-left: 120px;
        padding-right: 120px;
        width: 535px;
        margin-left: auto;
        margin-right: auto;
        .form {            
            label {
                @include font-YanoneKaffeesatz(18px, $color-dark-grey, false, capitalize, 0.4px, false);
            }
            button, a {
                @include font-YanoneKaffeesatz(17px, #ccc, false, capitalize, 0.3px, false);
                &.btn-primary {
                    width: 294px;
                    color: #fff;
                    margin-top: 18px;
                    margin-bottom: 30px;                
                }
            }
        }
        .social-signup {
            text-align: center;
            h4 {
                @include font-YanoneKaffeesatz(false, $color-dark-grey, false, capitalize, 0.4px, false);
                border-top: 1px solid $color-dark-grey;
                padding-top: 30px;
                margin-bottom: 20px;
            }
            a {
                i {
                    color: #fff;
                    font-size: 18px;
                    padding: 7px 12px;
                    margin-right: 20px;
                    &.fa-facebook {
                        background-color: #4267b2;
                        padding: 7px 12px;
                    }
                    &.fa-google-plus {
                        background-color: #dd4b39;
                        padding: 8px 5px;
                    }
                    &.fa-github {
                        background-color: #24292e;
                        padding: 7px 10px;
                    }
                }
            }
        }
    }
}