<section class="signup-wrapper">
    <div class="container">

        <h2>signup</h2>

        <div class="signup">

        <form class="form">
            <div class="form-group">
                    <label for="email">email:</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <a href="#">forget password?</a>
            <a href="#" class="btn btn-primary">signup</a>
        </form>

        <div class="social-signup">
            <h4>or signup by</h4>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
                
        </div>

    </div>
</section>
