<section class="popular-tracks">
  <div class="container">
    <h2>popular tracks</h2>

    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="track">
          <div class="header"></div>
          <div class="track-info">
            <h4>track name</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
            <a href="#" class="btn btn-default">enroll</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="track">
          <div class="header"></div>
          <div class="track-info">
            <h4>track name</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
            <a href="#" class="btn btn-default">enroll</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="track">
          <div class="header"></div>
          <div class="track-info">
            <h4>track name</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
            <a href="#" class="btn btn-default">enroll</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
