@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.create-track-wrapper {
    @include section-styles($color-section-grey, center, 70px, 70px);
    h2 {
        @include font-YanoneKaffeesatz(false, $color-text, false, capitalize, 0.4px, false);
        margin-bottom: 30px;
    }
    .btn-info {
        @include font-YanoneKaffeesatz(19px, #fff, false, capitalize, 0.4px, false);
        color: #fff;
        padding: 5px 34px;
        &:hover {
            color: #fff !important;
        }
    }
}