@import '../../../sass/variables';
@import '../../../sass/mixins';
@import '../../../sass/placeholders';

.search-wrapper {
    margin-top: 85px;
    margin-bottom: 38px;
    .search-header {
        h5 {
            @include font-YanoneKaffeesatz(20px, $color-dark-grey, false, capitalize, 0.4px, false);
        }
    }
    .searched-tracks {
        margin-top: 60px;
        .sidebar {
            @include section-styles(#fff, center, 36px, 30px);
            height: 300px;
        }
        .tracks-wrapper {
            @include section-styles(#fff, center, 10px, 40px);
            padding-left: 40px;
            padding-right: 40px;
            border: 1px solid $color-dark-grey;
            border-radius: 10px;
            .track {
                @include section-styles(#fff, center, null, null);
                border: 0.4px solid $color-section-grey;
                border-radius: 10px;
                margin-top: 20px;
                .header {
                    @include section-styles($color-bg-grey, null, null, null);
                    height: 180px;
                    border-radius: 10px;
                }
                .track-info {
                    @include section-styles(#fff, null, 40px, 20px);
                    border-radius: 10px;
                    h4 {
                        @include font-YanoneKaffeesatz(false, $color-dark-grey, false, capitalize, 0.4px, false);
                    }
                    p {
                        @include font-YanoneKaffeesatz(19px, $color-dark-grey, false, false, 0.4px, 25px);
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                    a {
                        @include font-YanoneKaffeesatz(18px, $color-dark-grey, 600, capitalize, 0.4px, false); 
                    }
                }
            }
        }
    }
    
}