<section class="search-wrapper">
  <div class="container">

    <div class="search-header">
      <div class="row">
        <div class="col-sm-6">
          <h5>100 result</h5>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
              </div>
        </div>
      </div>
    </div>

    <div class="searched-tracks">
      <div class="row">

        <div class="col-sm-4">
          <div class="sidebar">
            <h3>sidebar</h3>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="tracks-wrapper">
            <div class="row">

              <div class="col-sm-6">
                <div class="track">
                    <div class="header"></div>
                    <div class="track-info">
                      <h4>track name</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                      <a href="#" class="btn btn-default">enroll</a>
                    </div>
                </div>
              </div>

              <div class="col-sm-6">
                  <div class="track">
                      <div class="header"></div>
                      <div class="track-info">
                        <h4>track name</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                        <a href="#" class="btn btn-default">enroll</a>
                      </div>
                  </div>
                </div>

                <div class="col-sm-6">
                    <div class="track">
                        <div class="header"></div>
                        <div class="track-info">
                          <h4>track name</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                          <a href="#" class="btn btn-default">enroll</a>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="track">
                          <div class="header"></div>
                          <div class="track-info">
                            <h4>track name</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                            <a href="#" class="btn btn-default">enroll</a>
                          </div>
                      </div>
                    </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>