@import '../../../sass/variables';
@import '../../../sass/mixins';
@import '../../../sass/placeholders';
.form-wrapper {
  background-color: $color-section-grey;
  margin-top: 88px;
  .nav-tabs {
    margin-left: auto;
    margin-right: auto;
    width: 708px;
    border: none;
    li {
      text-align: center;
      border: 1px solid $color-dark-grey;
      border-radius: 100px;
      background-color: #fff;
      padding: 11px 18px;
      margin-right: 130px;
      position: relative;
      a {
        color: $color-dark-grey;
      }
      &:after {
        content: '';
        display: block;
        width: 130px;
        height: 2px;
        background-color: $color-dark-grey;
        position: absolute;
        top: 24px;
        left: 46px;
      }
      &:last-child:after {
        display: none;
      }
    }
  }
  .new-track {
    @include section-styles(#fff, null, 10px, 10px);
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    .header {
      border-bottom: 1px solid #000;
      padding-left: 60px;
      padding-right: 60px;
      h2 {
        @include font-YanoneKaffeesatz(false, $color-dark-grey, false, capitalize, 0.4px, false);
      }
    }
    .info-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      .info {
        border-radius: 10px;
        padding-left: 30px;
        padding-right: 30px;
        .form {
          label {
            @include font-YanoneKaffeesatz(18px, $color-dark-grey, false, capitalize, 0.4px, false);
          }
          select {
            @include font-YanoneKaffeesatz(17px, $color-dark-grey, false, capitalize, 0.3px, false);
          }
        }
        .upload {
          @include section-styles($color-section-grey, null, 93px, 16px);
          text-align: center;
          border: 0.4px solid $color-bg-grey;
          border-radius: 10px;
          height: 300px;
          i {
            &.fa-upload {
              font-size: 50px;
              color: $color-bg-grey;
            }
          }
          h4 {
            @include font-YanoneKaffeesatz(false, $color-dark-grey, false, capitalize, 0.4px, false);
            margin-top: 30px;
          }
        }
      }
      h3 {
        @include font-YanoneKaffeesatz(null, $color-dark-grey, false, capitalize, 0.3px, false);
        text-align: center;
      }
      i {
        &.fa-check {
          font-size: 100px;
          color: green;
          margin-top: 17px;
          margin-bottom: 15px;
        }
      }
      .panel {
        .panel-title {
          border-bottom: 1px solid $color-dark-grey;
          padding-bottom: 10px;
          margin-bottom: 30px;
          a {
            @include font-YanoneKaffeesatz(null, $color-dark-grey, false, capitalize, 0.3px, false);
            text-decoration: none;
          }
        }
        .panel-collapse {
          label {
            @include font-YanoneKaffeesatz(19px, $color-dark-grey, false, capitalize, 0.3px, false);
          }
          a {
            &.btn-success {
              margin-bottom: 30px;
              padding-bottom: 3px;
              @include font-YanoneKaffeesatz(19px, #fff, false, capitalize, 0.3px, false);
            }
          }
        }
      }
    }
    a {
      &.btn-primary {
        @include font-YanoneKaffeesatz(null, #fff, false, capitalize, 0.3px, false);
        width: 200px;
        margin-top: 18px;
        margin-top: 38px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}

#chapterHeading,
#stepHeading {
  input {
    width: 296px;
    display: inline-block;
    border: none; //border-bottom: 1px solid #333;
    border-radius: 0;
    padding-left: 4px;
    margin-left: 10px;
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
  i {
    float: right;
  }
}

.check {
  text-align: center;
  input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}
