<section class="form-wrapper">
  <div class="container">

    <div class="tab-pane">

      <div class="new-track">


        <div class="info-wrapper">

          <form class="form" #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="row">

              <div class="col-sm-6 col-xs-12">
                <div class="header">
                  <h2>step 1: basic information</h2>
                </div>

                <div class="form-group">
                  <label for="field">select field:</label>
                  <select class="form-control" [(ngModel)]="selectedField" name="field" #field="ngModel" id="field" required>
                    <option *ngFor="let field of fields" [value]="field">{{field}}</option>
                  </select>
                  <div class="form-control-feedback" *ngIf="field.errors && (field.dirty || field.touched)">
                    <p class="alert alert-danger" *ngIf="field.errors.required">field name is required</p>
                  </div>
                </div>

                <div class="form-group" *ngIf="selectedField == 'other'">
                  <input type="text" class="form-control" name="field" [(ngModel)]="otherField" #field="ngModel" id="field" placeholder="Field Name....">
                  <div class="form-control-feedback" *ngIf="field.errors && (field.dirty || field.touched)">
                    <p class="alert alert-danger" *ngIf="field.errors.required">field name is required</p>
                  </div>
                </div>

                <div class="form-group" *ngIf="selectedField == 'other'">
                  <label for="feDesc">describe your field:</label>
                  <textarea class="form-control" name="feDesc" [(ngModel)]="fieldDesc" #feDesc="ngModel" id="feDesc" cols="30" rows="5" minlength="20"
                    maxlength="200" required></textarea>
                  <div class="form-control-feedback" *ngIf="feDesc.errors && (feDesc.dirty || feDesc.touched)">
                    <p class="alert alert-danger" *ngIf="feDesc.errors.required">field describtion is required</p>
                    <p class="alert alert-danger" *ngIf="feDesc.errors?.minlength">Description must be between 20 - 200 characters</p>
                  </div>
                </div>

                <div class="form-group">
                  <label for="cover">track cover photo:</label>
                  <input type="text" class="form-control" name="cover" [(ngModel)]="trackCover" #cover="ngModel" id="cover" placeholder="ex. https://drive.google.com/profile">
                </div>

                <div class="form-group">
                  <label for="name">track name:</label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="trackName" #name="ngModel" id="name" required>
                  <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                    <p class="alert alert-danger" *ngIf="name.errors.required">track name is required</p>
                  </div>
                </div>

                <div class="form-group">
                  <label for="trDesc">describe your track:</label>
                  <textarea class="form-control" name="trDesc" [(ngModel)]="trackDesc" #trDesc="ngModel" id="trDesc" cols="30" rows="5" required></textarea>
                  <div class="form-control-feedback" *ngIf="trDesc.errors && (trDesc.dirty || trDesc.touched)">
                    <p class="alert alert-danger" *ngIf="trDesc.errors.required">track describtion is required</p>
                  </div>
                </div>
              </div>


              <div class="col-sm-6">
                <div class="header">
                  <h2>step 2: track goals</h2>
                </div>

                <div class="form-group">
                  <label for="target">who is your target student?</label>
                  <input type="text" class="form-control" name="target" [(ngModel)]="targetStudent" #target="ngModel" id="target">
                </div>

                <div class="form-group">
                  <label for="learn">what will they learn?</label>
                  <input type="text" class="form-control" name="learn" [(ngModel)]="technologies" #learn="ngModel" id="learn" required>
                  <div class="form-control-feedback" *ngIf="learn.errors && (learn.dirty || learn.touched)">
                    <p class="alert alert-danger" *ngIf="learn.errors.required">technologies is required</p>
                  </div>
                </div>

                <div class="form-group">
                  <label for="reason">why are you making this track?</label>
                  <input type="text" class="form-control" name="reason" [(ngModel)]="trackReason" #reason="ngModel" id="reason" required>
                  <div class="form-control-feedback" *ngIf="reason.errors && (reason.dirty || reason.touched)">
                    <p class="alert alert-danger" *ngIf="reason.errors.required">reason is required</p>
                  </div>
                </div>

                <div class="header">
                  <h2>step 3: steps</h2>
                </div>
                <div class="panel panel-default">

                  <div class="panel-heading" role="tab" id="chapterHeading">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseChapter" aria-expanded="true" aria-controls="collapseChapter">
                        chapter1:
                        <input type="text" class="form-control" name="chapter" [(ngModel)]="chapterName" #chapter="ngModel" placeholder="Chapter Name..."
                          required>
                        <div style="display: inline-block;position: absolute;right: 70px;" class="form-control-feedback" *ngIf="chapter.errors && (chapter.dirty || chapter.touched)">
                          <p class="alert alert-danger" *ngIf="chapter.errors.required">chapter name is required</p>
                        </div>
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </h4>
                  </div>

                  <div id="collapseChapter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="chapterHeading">
                    <div class="panel-body">
                      <div class="form-group">
                        <label for="describe">small describtion for the chapter:</label>
                        <textarea class="form-control" name="desc" [(ngModel)]="chapterDesc" #desc="ngModel" id="describe" cols="30" rows="5" required></textarea>
                        <div class="form-control-feedback" *ngIf="desc.errors && (desc.dirty || desc.touched)">
                          <p class="alert alert-danger" *ngIf="desc.errors.required">chapter describtion is required</p>
                        </div>
                      </div>

                      <div class="info">
                        <div class="panel panel-default">

                          <div class="panel-heading" role="tab" id="stepHeading">
                            <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseStep" aria-expanded="true" aria-controls="collapseStep">
                                step1:
                                <input type="text" class="form-control" name="step" [(ngModel)]="stepName" #step="ngModel" placeholder="step Name..." required>
                                <div style="display: inline-block;position: absolute;right: 70px;" class="form-control-feedback" *ngIf="step.errors && (step.dirty || step.touched)">
                                  <p class="alert alert-danger" *ngIf="step.errors.required">step name is required</p>
                                </div>
                                <i class="fa fa-chevron-down"></i>
                              </a>
                            </h4>
                          </div>

                          <div id="collapseStep" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="stepHeading">
                            <div class="panel-body">

                              <div class="form-group">
                                <label for="kind">kind of step</label>
                                <select class="form-control" id="kind" [(ngModel)]="selectedKind" name="stepKind" #stepKind="ngModel" required>
                                  <option *ngFor="let kind of kinds" [value]="kind">{{kind}}</option>
                                </select>
                                <div class="form-control-feedback" *ngIf="stepKind.errors && (stepKind.dirty || stepKind.touched)">
                                  <p class="alert alert-danger" *ngIf="stepKind.errors.required">stepKind step kind is required</p>
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="name">how much will it cost(0 for free)</label>
                                <input type="text" class="form-control" name="cost" [(ngModel)]="stepCost" #cost="ngModel" required>
                                <div class="form-control-feedback" *ngIf="cost.errors && (cost.dirty || cost.touched)">
                                  <p class="alert alert-danger" *ngIf="cost.errors.required">step cost is required</p>
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="name">step's link</label>
                                <input type="text" class="form-control" name="link" [(ngModel)]="stepLink" #link="ngModel" required>
                                <div class="form-control-feedback" *ngIf="link.errors && (link.dirty || link.touched)">
                                  <p class="alert alert-danger" *ngIf="link.errors.required">step link is required</p>
                                </div>
                              </div>

                              <div class="form-group">
                                <label for="name">how much time will it take?</label>
                                <input type="text" class="form-control" name="time" [(ngModel)]="stepTime" #time="ngModel" required>
                                <div class="form-control-feedback" *ngIf="time.errors && (time.dirty || time.touched)">
                                  <p class="alert alert-danger" *ngIf="time.errors.required">step time is required</p>
                                </div>
                              </div>

                            </div>
                            <a href="#" class="btn btn-success">
                              <i class="fa fa-plus"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-success" (click)="addChapterInputs">add a chapter</button>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary" [disabled]="form.invalid">submit track</button>
          </form>
          <pre>{{form.value | json}}</pre>
        </div>
      </div>

    </div>

  </div>
</section>
