<section class="dashboard-wrapper">

  <div class="row">

    <div class="col-sm-4">
      <div class="sidebar">

        <div class="header">
          <img src="assets/imgs/user-profile-photo.jpg" alt="track image">

          <span>track name</span>
        </div>

        <div class="tab">
          <button class="tablinks" [routerLink]="['//user/track-dashboard/suggested-links']">
            <i class="fa fa-link"></i>suggested links</button>
          <button class="tablinks"[routerLink]="['//user/track-dashboard/track-syllabus']">
            <i class="fa fa-clone"></i>track syllabus</button>
          <button class="tablinks"[routerLink]="['//user/track-dashboard/track-information']">
            <i class="fa fa-info"></i>track information</button>
        </div>

      </div>
    </div>

    <!-- <div class="col-sm-8">
      <div class="tabs-pages">
      </div>
    </div> -->

  </div>

</section>
