<section class="dashboard-wrapper">

  <div class="row">

    <div class="col-sm-4">
      <div class="sidebar">

        <div class="header">
          <img src="assets/imgs/user-profile-photo.jpg" alt="track image">

          <span>track name</span>
        </div>

        <div class="tab">
          <button class="tablinks" (click)="openLinks()">
            <i class="fa fa-link"></i>suggested links</button>
          <button class="tablinks" (click)="openSyllabus()">
            <i class="fa fa-clone"></i>track syllabus</button>
          <button class="tablinks" (click)="open(link)">
            <i class="fa fa-info"></i>track information</button>
        </div>

      </div>
    </div>

    <div class="col-sm-8">
      <div class="tabs-pages">

        <app-suggested-links [hidden]="hide"></app-suggested-links>
        <app-track-syllabus [hidden]="hide"></app-track-syllabus>
        <app-track-information [hidden]="true"></app-track-information>

      </div>
    </div>

  </div>

</section>
