<section class="dashboard-wrapper">

  <div class="row">

    <div class="col-sm-4">
      <div class="sidebar">

        <div class="header">
          <img src="assets/imgs/user-profile-photo.jpg" alt="track image">

          <span>track name</span>
        </div>

        <div class="tab">
          <button class="tablinks" [routerLink]="['//user/track-dashboard/suggested-links']">
            <i class="fa fa-link"></i>suggested links</button>
          <button class="tablinks" [routerLink]="['//user/track-dashboard/track-syllabus']">
            <i class="fa fa-clone"></i>track syllabus</button>
          <button class="tablinks" [routerLink]="['//user/track-dashboard/track-information']">
            <i class="fa fa-info"></i>track information</button>
        </div>

      </div>
    </div>

    <div class="col-sm-8">
      <div class="tabs-pages">

        <div id="info" class="tabcontent">
          <h3>track information</h3>
          <div class="new-track">
            <div class="header">
              <h2>general information</h2>
            </div>
            <div class="info-wrapper">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="info">
                    <form class="form">
                      <div class="form-group">
                        <label for="name">track name:</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                      </div>
                      <div class="form-group">
                        <label for="describe">describe your track:</label>
                        <textarea class="form-control" id="describe" cols="30" rows="5"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="sel1">select field:</label>
                        <select class="form-control" id="sel1">
                          <option>data science</option>
                          <option>web</option>
                          <option>big data</option>
                          <option>blalalalala</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h3>track image</h3>
                  <div class="info">
                    <div class="upload">
                      <i class="fa fa-upload"></i>
                      <h4>drop image here or
                        <a href="#">click here to upload</a>
                      </h4>
                    </div>
                  </div>
                  <a href="#" class="btn btn-primary">save</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>
